@model bool

<a href="/" class="group flex items-center justify-start bg-red ml-4 mb-12 border-b border-gray-200">
  @if (!Model) {
  <p class="text-4xl tracking-tighter text-left font-bold m-3 mt-4 mb-7 text-gray-700 leading-7">
    Conti.NET
  </p>
  <span
    class="inline-block w-8 h-8 ml-2 text-cyan-700 transform -translate-x-7 -translate-y-3 rotate-[33deg] group-hover:rotate-0 transition z-10"
    style="z-index: -10;">
    @Html.Partial("_SvgGlobe")
  </span>
  } else {
  <p class="text-5xl tracking-tighter text-left font-bold m-3 mt-4 mb-7 text-gray-700 leading-9">
    conti<br />.NET
  </p>
  <span
    class="inline-block w-8 h-8 ml-2 text-cyan-700 transform -translate-x-6 -translate-y-1 rotate-[33deg] group-hover:rotate-0 transition z-10"
    style="z-index: -10;">
    @Html.Partial("_SvgGlobe")
  </span>
  }
</a>
