<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] - Conti.NET</title>
  <link rel="stylesheet" href="~/css/output.css" />
</head>

<body class="h-screen flex flex-col items-center justify-start bd-white text-cyan-500 w-screen">
  <header class="text-left mb-2 w-screen">
    @Html.Partial("_ContiNetLogo", false)
  </header>

  <main class="text-center flex justify-center items-center flex-col w-full">
    @RenderBody()
  </main>

  <footer class="mt-12 text-gray-700 text-sm w-full max-w-screen-xl">
    <div class="text-left w-full max-w-screen">
      @Html.Partial("_ContiNetLogo", true)
    </div>
    © 2024 Conti.NET. All rights reserved.
  </footer>

  <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>

</html>
