<html>

<head>
  <title>Conti.NET</title>
</head>

<body>
  <h1>Conti.NET,</h1>
  <h2>continents and countries API in .NET</h2>
  <p>
    This is a simple API that provides information about continents and countries.
  </p>
  <h2>Explore</h2>
  <ul>
    <ul><a href="/Continent">Continents</a></ul>
    <ul><a href="/Country">Countries</a></ul>
  </ul>
</body>

</html>
