<html>

<head>
  <title>Conti.NET</title>
</head>

<body>
  <h1>Conti.NET,</h1>
  <h2>continents and countries API in .NET</h2>
  <p>
    This is a simple API that provides information about continents and countries.
  </p>
</body>

</html>
